<ion-view view-title="Mapa">
    <ion-content scroll="false" data-tap-disabled="true">
        <div id="map_canvas">
        <script type="text/ng-template" id="control.tpl.html">
            <div class="circle" ng-click="centerOnMe()"><i class="ionicons ion-android-locate font_center_on_me"></i></div>
        </script>
            <ui-gmap-google-map
                center="map.center"
                zoom="map.zoom"
                draggable="true"
                options="options"
                bounds="map.bounds"
                events="map.events"
                pan="true"
            >
                <ui-gmap-map-control template="control.tpl.html" position="top-right" index="-1" controller="MapCtrl"></ui-gmap-map-control>

                <ui-gmap-markers models="markers" coords="'self'" icon="'icon'" click="onClick()">
                    <ui-gmap-windows show="show">
                        <div ng-non-bindable>{{title}}</div>
                    </ui-gmap-windows>
                </ui-gmap-markers>

            </ui-gmap-google-map>
        </div>
    </ion-content>
</ion-view>
