<ion-view view-title="JWS">
    <ion-content>
        <div class="list">
            <label class="item item-input item-stacked-label">
                <span class="input-label">Token</span>
                <textarea rows="10" cols="8" ng-model="variables.token"></textarea>
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">CERTIFICATE</span>
                <textarea rows="10" cols="8" ng-model="variables.certificado"></textarea>
            </label>
            <div class="row">
                <div class="col text-center">
                    <button class="button button-large button-positive" ng-click="verifyJWS()">
                        verifyJWS
                    </button>
                </div>
            </div>
        </div>
        <h1>{{resultado}}</h1>
        <div class="circle"><i class="ionicons ion-ios-navigate"></i></div>

    </ion-content>
</ion-view>
