<ion-view view-title="Editar">
    <ion-content scroll="false" data-tap-disabled="true">
        <div class="list">
            <label class="item item-input item-stacked-label">
                <span class="input-label">Nombre</span>
                <input type="text" ng-model="local.nombre" value={{local.nombre}}>
            </label>
            <label class="item item-input item-stacked-label">
                <div id="map_canvas" style="height: 300px;">
                    <ui-gmap-google-map center="map.center" zoom="map.zoom" draggable="true" options="options">
                        <ui-gmap-marker coords="marker.coords" options="marker.options" events="marker.events" idkey="marker.id">
                        </ui-gmap-marker>
                    </ui-gmap-google-map>
                </div>
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Notas</span>
                <textarea rows="5" cols="8" ng-model="local.notas">{{local.notas}}</textarea>
            </label>
            <div class="row">
                <div class="col text-center">
                    <button class="button button-large button-positive" ng-click="save()">
                        Guardar
                    </button>
                    <button class="button button-large button-assertive" ng-click="delete()">
                        Borrar
                    </button>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
