<ion-view view-title="Lista">
    <ion-content>
        <ul class="list">
            <ion-item ng-show="!list.length">Listado vacío</ion-item>
            <li ng-repeat="item in list" class="item item-checkbox item-icon-right">
                <label class="checkbox">
                    <input type="checkbox" ng-checked="item.marked" ng-click="mark( item )">
                </label>
                <span ng-click="seeDetail( {{item.id}} )">
                    {{item.nombre}}
                    <i class="icon ion-chevron-right" ></i>
                </span>
            </li>
        </ul>
    </ion-content>
</ion-view>
